.bordered-titled-title {
    -fx-translate-y: -16;
    -fx-color: white;
}

.bordered-titled-border {
    -fx-content-display: top;
    -fx-border-insets: 20 15 15 15;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-background-color: lightgray;
}

.bordered-titled-content {
    -fx-padding: 26 10 10 10;
}